# ROS 2 Build & Install
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.pytest_cache/
.coverage
htmlcov/

# Node / Web
node_modules/
.next/
out/
build/
dist/

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo
